@-webkit-keyframes slideup{
 0%{
  transform: translateY(50px);
  opacity: 0;
 }
 100%{
  transform: translateY(inherit);
  opacity: 1;
 }
}
@-moz-keyframes slideup{
 0%{
  transform: translateY(50px);
  opacity: 0;
 }
 100%{
  transform: translateY(inherit);
  opacity: 1;
 }
}
body{
 background-color: #060c1d;
 color: #cad2e7;
 height: 100vh;
 font-family: 'Plus Jakarta Sans', 'Helvetica Neue', Roboto, sans-serif;
 margin: 0;
}
a{
 color: inherit;
 text-decoration: none;
 -webkit-transition: color 0.3s ease;
 -moz-transition: color 0.3s ease;
}
a:hover{
 color: #1974BB;
}
h1{
 font-size: 4em;
 margin: 0;
}
h2{
 font-size: 2em;
 margin: 0;
}
h3{
 font-size: 1.5em;
 margin: 10px 0 10px 0;
}
p{
 font-size: 1.1em;
}
.text-header{
 color: #84a6ff;
}
.fa{
 color: #1974BB;
}
.loading{
 align-items: center;
 background-color: #060c1d;
 display: flex;
 height: 100%;
 justify-content: center;
 position: fixed;
 width: 100%;
 z-index: 200;
}
.loading-logo{
 display: flex;
 height: 150px;
 margin: auto;
}
.loading-container{ 
 -webkit-animation: blips 1s ease infinite;
 -moz-animation: blips 1s ease infinite;
}
.loading-text{
 margin-top: 50px;
 text-align: center;
}
@-webkit-keyframes blips{
 0%{
  opacity: 0.3;
 }
 50%{
  opacity: 1;
 }
 100%{
  opacity: 0.3;
 }
}
@-moz-keyframes blips{
 0%{
  opacity: 1;
 }
 100%{
  opacity: 0;
 }
}
.navbar-container{
 align-items: center;
 background-color: #060c1d80;
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 100;
}
.navbar{
 display: flex;
 font-size: 2em;
 justify-content: space-between;
 padding: 10px 20px 10px 20px;
}
.navbar-logo{
 background-image: url("./assets/logo/ristek-logo.svg");
 background-size: cover;
 width: 25px;
 height: 45px;
}
.navbar-menu{
 display: none;
}
.navbar-dropdown{
 color: #1974BB;
 display: grid;
 font-size: 1.3em;
 height: 320px;
 text-align: center;
}
.navbar-dropdown.hidden{
 display: none;
}
.dropdown-menu{
 color: #1974BB;
 display: flex;
 align-items: center;
 justify-content: center;
}
.main{
 animation: slideup 1s ease;
 padding: 70px 30px 20px 30px;
}
.title-container{
 padding: 20px 0 20px 0;
}
.articles-container{
 padding: 20px 0 20px 0;
}
.article-list-container{
 display: flex;
 gap: 20px;
}
.article-title-container{
 display: flex;
}
.article-bullet{
 color: #1974BB;
 font-size: 2.5em;
 height: 20px;
 margin-right: -10px;
 position: relative;
 right: 31px;
}
.article-title{
 margin: 0;
}
.article-detail{
 align-items: center;
 display: flex;
 font-size: 0.9em;
 gap: 10px;
 .fa{
  font-size: 0.9em;
 }
}
.article-timeline{
 background-color: #1974BB;
 margin-left: 10px;
 width: 1.5px;
 height: auto;
}
.spacer{
 padding: 20vw 0 20vw 0;
}
.footer{
 color: #1974BB;
 font-size: 0.8em;
 text-align: center;
 scale: 0.8;
}
.footer-links{
 color: #1974BB;
 padding: 20px 0 20px 0;
}
.footer-links a:hover{
 background: linear-gradient(90deg, #cdd8fb 0%, #ffffff 100%);
 -webkit-text-fill-color: transparent; 
 -moz-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip: text;
}
.instagram, .linkedin, .github{
 margin: 0 20px 0 20px;
}
.footer-logo{
 align-items: start;
 display: flex;
 justify-content: center;
}
.ristek-logo-compact, .seg-itb-sc-logo{
 height: 80px;
 width: auto;
}
.rnc-logo-compact{
 height: 100px;
 width: auto;
}
.tagline{
 background: linear-gradient(90deg, #1974BB 0%, #330185 100%);
 -webkit-text-fill-color: transparent;
 -moz-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip: text;
}
.copyright{
 margin: 0;
 padding: 20px 0 20px 0;
}
::-webkit-scrollbar{
 height: 3px;
 width: 8px;
 border-radius: 0;
 background-color: #12122c;
}
::-webkit-scrollbar-thumb{
 border-radius: 5px;
 background: linear-gradient(#1974BB 0%, #330185 100%);
}
@media screen and (min-width: 900px) {
h1{
 font-size: 5em;
}
h2{
 font-size: 2.5em;
}
h3{
 font-size: 2em;
}
.navbar{
 padding: 10px 100px 10px 100px;
}
.navbar-dropdown-menu-toggle, .navbar-dropdown{
 display: none;
}
.navbar-menu{
 color: #1974BB;
 align-items: center;
 display: flex;
 font-size: 0.55em;
 gap: 20px;
 height: auto;
 .fa{
  font-size: 1.2em;
 }
}
.navbar-menu a:hover{
 background: linear-gradient(90deg, #cdd8fb 0%, #ffffff 100%);
 -webkit-text-fill-color: transparent; 
 -moz-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip: text;
}
.main{
 padding: 100px 100px 40px 100px;
}
.article-detail{
 font-size: 1em;
}
.spacer{
 padding: 15vh 0 15vh 0;
}
.footer-links{
 font-size: 2em;
}
}